body {
    background-color: #000;
    color: white;
    font-family: sans-serif;
}

canvas {
    display: block;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #333;
}

h5 {
    position: absolute;
    text-align: center;
    bottom: 50px;
    z-index: 100;
    width: 90%;
}